@import "tailwindcss";


body{
  font-family: 'Gotham', sans-serif;
}

.blur-bg {
  background: rgba(255, 0, 0, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(50px) !important; /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px) !important; /* For Safari */
}