@import "tailwindcss";


body{
  font-family: 'Gotham', sans-serif;
}

.css-13cymwt-control {
  border-radius: .5rem !important;
  border: none !important;
  box-shadow: none !important;
}

.swiper-wrapper{
  display: flex;
  align-items: center;
 
}

.swiper-slide{
  display: flex !important;
  justify-content: center !important;
}